<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title CSS -->
    <title>404 Error</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fontawesome Sytle CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Dashboard Sytle CSS -->
    <link rel="stylesheet" href="/assets/css/login.css">

  </head>
  <body class="cv_db_full_height">

    <div class="allWrapper cv_db_full_height">

      <main class="cv_db_main_content clearfix cv_db_full_height cv_db_scrollbar" id="main_content">

        <section class="cv_db_content_area clearfix cv_db_full_height bg_gradient" id="content-area">
          <div class="container-fluid cv_db_full_height">
            <div class="row justify-content-center align-items-center cv_db_full_height">
              <div class="col-sm-4">
                <div class="card shadow">
                  <div class="card-header text-center pt-2 pb-2">
                    <a href="/"> <img src="/assets/images/linch_logo.svg" class="card-img-top w-50" alt="Linchpins Logo" /></a>
                  </div><!-- end of card-header -->

                  <div class="card-body text-center pb-5">
                    <h2>Opps Page Not Found</h2>
                    <h1 class="text-danger" style="font-size: 6rem;">404 Error</h1>
                    <a href="/users/login" class="btn btn-primary">Back to Login Page</a>
                  </div><!-- end of card-body -->
                </div><!-- end of card -->
              </div><!-- end of col6 -->
            </div><!-- end of row -->
          </div><!-- end of container-fluid -->
        </section><!-- end of cv_db_content_area -->

      </main><!-- end of cv_db_main_content -->
    </div><!-- end of allWrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
